<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx
     	   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<!-- 采用注释的方式配置bean -->
	<context:annotation-config />
	
	<!-- 配置sqlSessionTemplate -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	
	<!-- DAO -->
	<bean id="dgu2000DAO" class="org.mybatis.spring.mapper.MapperFactoryBean" scope="prototype">
		<property name="mapperInterface" value="cn.com.windit.production.dao.Dgu2000.IDgu2000DAO" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="projectDAO" class="org.mybatis.spring.mapper.MapperFactoryBean" scope="prototype">
		<property name="mapperInterface" value="cn.com.windit.production.dao.IProjectDAO" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<!-- Service -->
	<bean id="dgu2000Service" class="cn.com.windit.production.service.Dgu2000Service" scope="prototype">
		<property name="dgu2000DAO" ref="dgu2000DAO" />
	</bean>
	<bean id="projectService" class="cn.com.windit.production.service.ProjectService" scope="prototype">
		<property name="projectDAO" ref="projectDAO" />
	</bean>
	
	<!-- Action -->
	<bean id="dgu2000Action" class="cn.com.windit.production.action.Dgu2000Action" scope="prototype">
		<property name="dgu2000Service" ref="dgu2000Service" />
		<property name="projectService" ref="projectService" />
	</bean>
</beans>